.main {
  > .dunno {
    position: absolute;
    color: white;
    margin: -60vh 10vh;
    font-size: 2rem;
  }
  > .movies {
    background-image: url("./img.jpg");
    position: relative;
    opacity: 0.3;
    height: 100vh;
    background-size: cover;
  }
}
